.login-left{
	padding: 0;
}
.login-left h2{
    color: #000;
    font-size: 20px;
    padding-bottom: 17px;
    font-weight: 600;
}
.login-right h2{
	color: #000;
    font-size: 19px;
    padding-bottom: 13px;
    font-weight: 600;
}
.login-left p, .login-right p {
    color: #CAC9C9;
    display: block;
    font-size: 1.1em;
    margin: 0 0 2em 0;
    line-height: 1.5em;
}
.account-btn {
    background: #1ecbf4;
    color: #FFF;
    font-size: 15px;
    padding: 0.7em 1.2em;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    display: inline-block;
    text-transform: uppercase;
	
}
.login-right form div {
    padding: 0 0 2em 0;
}
.login-right form div {
    padding: 0 0 2em 0;
}
.login-right span {
    color: #555;
    font-size: 1em;
    padding-bottom: 0.2em;
    display: block;
    text-transform: uppercase;
}
.login-right input[type="text"] {
    border: 1px solid #EEE;
    outline-color: #1ecbf4;
    width: 96%;
    font-size: 13px;
    padding: 8px;
}
.login-right input[type="password"] {
    border: 1px solid #EEE;
    outline-color: #1ecbf4;
    width: 96%;
    font-size: 13px;
    padding: 8px;
}
.login-right input[type="submit"] {
    background: #1ecbf4;
    color: #FFF;
    font-size: 1em;
    padding: 0.7em 1.2em;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    display: inline-block;
    text-transform: uppercase;
    border: none;
    outline: none;
}
input[type="button"], input[type="submit"] {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
a.forgot {
    font-size: 1em;
    margin-right: 11px;
}
.account-btn:hover, .login-right input[type="submit"]:hover{
	background-color: #FFF;
	color: #1ecbf4;
	border: solid 1px #1ecbf4;
	text-decoration: none;
}
.content{
	margin-bottom: 20px;
}